[Unit]
Description=Ping camera on %I

[Service]
ExecStart=/bin/sh -c 'dping %I'

[Install]
#WantedBy=multi-user.target
#Also=psl.timer
WantedBy=default.target