[Unit]
Description=Get videos from camera on %I

[Service]
ExecStart=/bin/sh -c 'cd $(ddir -i %I); dpoll -i %I'
#[Install]
#WantedBy=multi-user.target
#Also=gsl.timer