[Unit]
Description=Get video from camera each hour

[Timer]

#Get videos as immediately after boot
OnBootSec=0
#Persistent is only applicable when using OnCalendar
Persistent=true
OnCalendar=hourly

[Install]
#WantedBy=network-online.target
# USER WantedBy=default.target
WantedBy=dtools.target