[Unit]

Description=Service Poll video from camera on %I
After=default.target

[Service]

#Environment=PATH=/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:%h/.local/bin/dtools

ExecStart=%h/.local/bin/dtools/dpoll -i %I

[Install]

WantedBy=dtools.target
