[Unit]

Description=Timer for poll video from camera %I

[Timer]
#Persistent is only applicable when using OnCalendar
Persistent=true
OnCalendar=hourly

[Install]

WantedBy=dtools.target

