[Unit]
Description=Get sleep video from D-link camera

[Service]
ExecStart=/home/henning/.local/bin/gsl 192.168.0.110

#[Install]
#WantedBy=multi-user.target
#Also=gsl.timer