[Unit]
Description=Get sleep video from DCS-936L camera

[Service]
ExecStart=/home/henning/.local/bin/gsl

#[Install]
#WantedBy=multi-user.target
#Also=gsl.timer