[Unit]
Description=Ping camera on %I

[Service]
ExecStart=/home/henning/.local/bin/psl %I

[Install]
#WantedBy=multi-user.target
#Also=psl.timer
WantedBy=default.target