[Unit]
Description=Record sleep from DCS-936L camera at 22:30

[Timer]
#Persistent=true
OnCalendar=Mon-Sun *-*-* 22:30:00

[Install]
WantedBy=network-online.target